{% extends "index.html" %}

{% import "macros.html" as macros %}

{% block head_title %}
    404 - Not found
{% endblock head_title %}

{% block main_header_title %}
    Not found
{% endblock main_header_title %}

{% block main_content %}
<p>
    Oops, looks like this content is not available.
    <br>
    <a href="{{ config.base_url }}">{{ config.extra.home | default(value="home") }}</a>
    </p>
{% endblock main_content %}
