
{% macro time(date) %}
  {% set date_format = config.extra.date_format | default(value="%a %b %e, %Y") %}
    <time datetime="{{date | date(format="%+")}}">
      {{ date | date(format=date_format) }}
    </time>
{% endmacro time %}


{% macro section_tags( target_tags ) %}
    <section class="flex flex-wrap p-2 mb-2">
        {% for tag  in target_tags.items %}
            <a
              {% if taxonomy and term and term.name == tag.name %}
                aria-current="page"
              {% endif %}
              class="flex-none mr-3 mb-2 border-b border-dashed border-current text-ctp-blue hover:text-ctp-sky visited:text-ctp-lavender aria-[current=page]:text-ctp-pink transition-colors "
              href="{{ get_taxonomy_url(kind='tags', name=tag.name) }}">
                {{ tag.name | capitalize }}
            </a>
        {% endfor %}
    </section>
{% endmacro section_tags %}

{% macro page_tags( target_tags ) %}
    <section class="flex flex-wrap p-2 mb-2">
        {% if target_tags %}
        <span class="mr-3">Tags :</span>
        {% for tag  in target_tags.tags %}
            <a
              class="flex-none mr-3 mb-2 border-b border-dashed border-current text-ctp-blue hover:text-ctp-sky visited:text-ctp-lavender transition-colors "
              href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
                {{ tag | capitalize }}
            </a>
        {% endfor %}
        {% endif %}
    </section>
{% endmacro page_tags %}

{% macro section_catalog( target_catalog ) %}
    <section class="text-ctp-overlay1">
        <header class="grid grid-cols-[11ch_4fr_1fr] p-2 mb-3 border-b border-current">
            <span>published</span>
            <span class="">title</span>
            <span class="i-material-symbols-pace justify-self-center"></span>
        </header>
        {% for page in target_catalog.pages %}
            <div class="grid grid-cols-[11ch_4fr_1fr] p-2"> 
            {{ cp::time(date=page.date) }}
            <a class="text-ctp-blue hover:text-ctp-sky visited:text-ctp-lavender transition-colors" href="{{ page.permalink }}">{{ macros::title_or_last(component=page, offset=0) }}</a>
            <span class="justify-self-center">
                {{ page.reading_time }} min
            </span>
            </div>    
        {% endfor %}
    </section>
{% endmacro section_catalog %}


{% macro header() %}
    <header>
        <h1 class="text-3xl mb-4">
          Posts
        </h1>       
  {% if section %}
        {{ cp::section_tags( target_tags = get_taxonomy(kind="tags") ) }}
  {% endif %}
    </header>
{% endmacro header %}


{% macro page_article() %}
    <article class="[&_h2]:text-5xl space-y-8 [&_h2]:mb-8 [&_h2]:mt-16  [&_h3]:mb-4 leading-relaxed font-mono font-extralight tracking-tighter [word-spacing:-3px] text-base  [&_h2]:font-extrabold [&_code]:tracking-normal ">
    {{ page.content | safe }}
    </article>
{% endmacro page_article %}
