{% import "macros.html" as macros %}
{% import "components.html" as cp %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">

        <link rel="stylesheet" href="{{ get_url(path='styles.css') }}">
        <link rel="icon" href="{{ get_url(path='cliarena.svg') }}" type="image/svg+xml">

        <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path='atom.xml') }}">
        <title>{% block head_title %}{{ config.title }} - {{ config.description }}{% endblock head_title %}</title>
        <meta name="description" content="{% block head_description %}{{ config.description }}{% endblock head_description %}">
        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "TechArticle",
        "headline": {% if page %} "{{ page.title }}" {% endif %},
              "image": [
                "https://example.com/photos/1x1/photo.jpg",
                "https://example.com/photos/4x3/photo.jpg",
                "https://example.com/photos/16x9/photo.jpg"
               ],
              "datePublished": "2015-02-05T08:00:00+08:00",
              "dateModified": "2015-02-05T09:20:00+08:00",
              "author": [{
                  "@type": "Organization",
                  "name": "cliarena",
        "url": "{{ get_url(path="@/about.md") }}"
              }]
            }
        </script>
    </head>
    <body class="ctp-latte bg-ctp-base max-w-3xl mx-auto p-5 text-ctp-text min-h-screen">
        <header class="text-3xl mb-4">
        </header>
        <main class="">
            <header class="mb-8">
                {% block main_header_pre_title %}
                {% endblock main_header_pre_title %}

                <h1 class="text-4xl mb-4">
                  {% block main_header_title %}
                    Posts
                  {% endblock main_header_title %}
                </h1>       

                {% block main_header_post_title %}
                  {{ cp::section_tags( target_tags = get_taxonomy(kind="tags") ) }}
                {% endblock main_header_post_title %}
            </header>

            {% block main_content %}
                {{ cp::section_catalog( target_catalog = get_section(path="posts/_index.md") ) }}
            {% endblock main_content %}

            <footer>
                {% block main_footer %}
                {% endblock main_footer %}
            </footer>
        </main>
    </body>
</html>
