{% extends "index.html" %}

{% import "macros.html" as macros %}

{% block head_title %}{{ page.title }} | {{ config.title }}{% endblock head_title %}
{% block head_description %}{{ page.description }}{% endblock head_title %}

{% block main_header_title %}
    {{ page.title }}
{% endblock main_header_title %}

{% block main_header_pre_title %}
    <div class="text-ctp-overlay1 pl-1">
        {% if not page.extra.no_header %}
            {{ cp::time(date=page.date) }}
            <span class="before:content-['·'] before:m-1">{{ page.reading_time }} min</span>
        {% endif %}
    </div>
{% endblock main_header_pre_title %}

{% block main_header_post_title %}
{% endblock main_header_post_title %}

{% block main_content %}
    {{ cp::page_article() }}
{% endblock main_content %}

{% block main_footer %}
    {{ cp::page_tags( target_tags = page.taxonomies ) }}
{% endblock main_footer %}
